Source/FortisCollections.Toolcore.Update.Runner/Web References/PackageInstall/PackageInstall.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InstallPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="packagePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallPackageResponse">
        <s:complexType />
      </s:element>
      <s:element name="Check">
        <s:complexType />
      </s:element>
      <s:element name="CheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckResult" type="tns:Progress" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Progress">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LastCommandProcessed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PercentageComplete" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InstallPackageSoapIn">
    <wsdl:part name="parameters" element="tns:InstallPackage" />
  </wsdl:message>
  <wsdl:message name="InstallPackageSoapOut">
    <wsdl:part name="parameters" element="tns:InstallPackageResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSoapIn">
    <wsdl:part name="parameters" element="tns:Check" />
  </wsdl:message>
  <wsdl:message name="CheckSoapOut">
    <wsdl:part name="parameters" element="tns:CheckResponse" />
  </wsdl:message>
  <wsdl:portType name="PackageInstallSoap">
    <wsdl:operation name="InstallPackage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Starts the installation of a Sitecore Update Package</wsdl:documentation>
      <wsdl:input message="tns:InstallPackageSoapIn" />
      <wsdl:output message="tns:InstallPackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Check">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check the progress of the package installation</wsdl:documentation>
      <wsdl:input message="tns:CheckSoapIn" />
      <wsdl:output message="tns:CheckSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PackageInstallSoap" type="tns:PackageInstallSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InstallPackage">
      <soap:operation soapAction="http://tempuri.org/InstallPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check">
      <soap:operation soapAction="http://tempuri.org/Check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PackageInstallSoap12" type="tns:PackageInstallSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InstallPackage">
      <soap12:operation soapAction="http://tempuri.org/InstallPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check">
      <soap12:operation soapAction="http://tempuri.org/Check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PackageInstall">
    <wsdl:port name="PackageInstallSoap" binding="tns:PackageInstallSoap">
      <soap:address location="http://scpackageinstaller/PackageInstall.asmx" />
    </wsdl:port>
    <wsdl:port name="PackageInstallSoap12" binding="tns:PackageInstallSoap12">
      <soap12:address location="http://scpackageinstaller/PackageInstall.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>